.apps-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(282px * 4);
  margin: 0 auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .apps-grid {
    width: calc(236px * 3);
  }
}

@media (max-width: 767px) {
  .apps-grid {
    width: calc(236px * 2);
  }
}

@media (max-width: 575px) {
  .apps-grid {
    width: 100%;
  }
}

.apps-grid-cell {
  display: block;
  width: 200px;
  height: 220px;
  margin: 31px 41px;
  padding-top: 22px;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;

  &:hover {
    background: -webkit-linear-gradient(top, #091755, #0a1241);
    background: linear-gradient(to bottom, #091755, #0a1241);
  }
}

@media (max-width: 1200px) {
  .apps-grid-cell {
    margin: 8px 18px;
  }
}

@media (max-width: 575px) {
  .apps-grid-cell {
    width: 50%;
    height: auto;
    margin: 0;
    padding: 30px 0;
  }
}

.apps-grid-image {
  display: inline-block;
  width: 128px;
  height: 128px;
  margin-bottom: 25px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

@media (max-width: 575px) {
  .apps-grid-image {
    width: 96px;
    height: 96px;
    margin-bottom: 15px;
  }
}

.apps-grid-name {
  font-size: 16px;
  display: block;
  color: #fff;
  overflow-wrap: break-word;
}

@media (max-width: 575px) {
  .apps-grid-name {
    font-size: 14px;
  }
}

.header .nav-logo {
  display: none;
}

.section-wrapper {
  overflow: hidden;
}

.section-header {
  padding-top: 30px;
}

.section-macbook {
  padding: 322px 0 363px;

  .-image img {
    position: absolute;
    z-index: 1;
    top: -525px;
    left: 50px;
    width: 903px;
  }
}

@media (max-width: 767px) {
  .section-macbook {
    padding: 232px 0 140px;
  }
}

@media (max-width: 575px) {
  .section-macbook {
    padding: 76px 0 40px;
  }
}

@media (max-width: 991px) {
  .section-macbook .-image img {
    top: -564px;
    left: -60px;
  }
}

@media (max-width: 767px) {
  .section-macbook .-image img {
    top: -565px;
    left: -75px;
  }
}

@media (max-width: 575px) {
  .section-macbook .-image img {
    top: 0;
    left: 0;
  }
}

.section-lines {
  position: relative;
  padding: 0 0 600px;
}

@media (max-width: 767px) {
  .section-lines {
    padding: 0 0 25px;
  }
}

@media (max-width: 575px) {
  .section-lines.-center {
    text-align: left;
  }
}

.section-lines-mobile-img {
  position: relative;
  display: none;
}

@media (max-width: 767px) {
  .section-lines-mobile-img {
    display: block;
  }
}

.section-lines [data-animations-line] {
  position: absolute;
  left: 0;
}

.section-lines-animation {
  position: absolute;
  z-index: 10;
  bottom: -60px;
  left: 50%;
  overflow: hidden;
  width: 1090px;
  height: 1020px;
  margin-left: -505px;
}

@media (max-width: 767px) {
  .section-lines-animation {
    display: none;
  }
}

.section-lines-animation-shadow {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  box-shadow: inset 0 -47px 14px #000a24;
}

.section-billboard {
  padding: 358px 0 180px;

  .billboard {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    max-width: 100%;
  }

  .billboard-img {
    position: absolute;
    top: -355px;
    right: 0;
    width: 590px;
    height: 680px;

    div {
      position: absolute;
      z-index: 10;
      top: 171px;
      overflow: hidden;
      height: 62px;

      &:nth-child(1) {
        left: 84px;
      }

      &:nth-child(2) {
        left: 145px;
      }

      &:nth-child(3) {
        left: 206px;
      }

      &:nth-child(4) {
        left: 267px;
      }

      &:nth-child(5) {
        left: 328px;
      }

      &:nth-child(6) {
        left: 389px;
      }

      &:nth-child(7) {
        left: 450px;
      }
    }

    .shadow {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: rgba(29, 15, 73, 0.3);
    }
  }

  .billboard-mobile {
    display: none;
    max-width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 991px) {
  .section-billboard {
    padding: 340px 0 170px;
  }
}

@media (max-width: 767px) {
  .section-billboard {
    padding: 280px 0 90px;
  }
}

@media (max-width: 575px) {
  .section-billboard {
    padding: 100px 0 30px;
  }
}

@media (max-width: 1200px) {
  .section-billboard .billboard-img {
    right: -125px;
  }
}

@media (max-width: 991px) {
  .section-billboard .billboard-img {
    right: -160px;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@media (max-width: 575px) {
  .section-billboard .billboard-img {
    display: none;
  }
}

@media (max-width: 575px) {
  .section-billboard .billboard-mobile {
    display: block;
  }
}

.section-applications {
  padding: 100px 0 0;
  text-align: center;

  .title {
    text-align: center;
  }

  .apps-grid {
    padding: 25px 0 75px;
  }
}

@media (max-width: 575px) {
  .section-applications {
    padding: 50px 0 0;
  }
}

@media (max-width: 575px) {
  .section-applications .apps-grid {
    padding: 0 0 38px;
  }
}

.section-coffee {
  padding: 275px 0 242px;

  .-image {
    position: relative;

    img {
      position: absolute;
      z-index: 1;

      &:nth-child(1) {
        top: -215px;
        right: 310px;
        width: 254px;
      }

      &:nth-child(2) {
        top: -298px;
        right: 0;
        width: 270px;
      }

      &:nth-child(3) {
        position: relative;
        display: none;
        max-width: 321px;
      }
    }
  }
}

@media (max-width: 767px) {
  .section-coffee {
    padding: 195px 0;
  }
}

@media (max-width: 575px) {
  .section-coffee {
    padding: 110px 0 80px;
  }
}

@media (max-width: 1200px) {
  .section-coffee .-image img:nth-child(1) {
    right: 290px;
  }
}

@media (max-width: 991px) {
  .section-coffee .-image img:nth-child(1) {
    right: 205px;
  }
}

@media (max-width: 767px) {
  .section-coffee .-image img:nth-child(1) {
    top: -170px;
    right: 145px;
    width: 204px;
  }
}

@media (max-width: 575px) {
  .section-coffee .-image img:nth-child(1) {
    display: none;
  }
}

@media (max-width: 1200px) {
  .section-coffee .-image img:nth-child(2) {
    right: -20px;
  }
}

@media (max-width: 991px) {
  .section-coffee .-image img:nth-child(2) {
    right: -105px;
  }
}

@media (max-width: 767px) {
  .section-coffee .-image img:nth-child(2) {
    top: -222px;
    width: 216px;
  }
}

@media (max-width: 575px) {
  .section-coffee .-image img:nth-child(2) {
    display: none;
  }
}

@media (max-width: 575px) {
  .section-coffee .-image img:nth-child(3) {
    display: block;
    margin: 0 auto;
  }
}

.text, .title, .button {
  position: relative;
  z-index: 100;
}

#animation-mac {
  position: relative;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  -webkit-transform: translateY(50px) rotateY(-40deg) scale(0.9);
  transform: translateY(50px) rotateY(-40deg) scale(0.9);
  opacity: .3;
}

@media (max-width: 575px) {
  #animation-mac {
    height: 350px;
  }
}

.static-mac {
  position: relative;
}

@media (max-width: 575px) {
  .static-mac {
    height: 350px;
  }
}

@media (max-width: 991px) {
  .animation-mac-cnt {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@media (max-width: 767px) {
  .animation-mac-cnt {
    -webkit-transform: scale(0.67);
    transform: scale(0.67);
  }
}

@media (max-width: 575px) {
  .animation-mac-cnt {
    position: absolute;
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
  }
}

.mac-video-cnt {
  position: absolute;
  top: -539px;
  left: 43px;
  width: 160px;
  height: 100px;
  -webkit-transform: matrix3d(3.46639, 2.22001, 0, 0.00182, 0, 5.33, 0, 0, 0, 0, 1, 0, 30, 41, 0, 1);
  transform: matrix3d(3.46639, 2.22001, 0, 0.00182, 0, 5.33, 0, 0, 0, 0, 1, 0, 30, 41, 0, 1);
  -webkit-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  background: #000;
}

@media (max-width: 991px) {
  .mac-video-cnt {
    top: -578px;
    left: -66px;
  }
}

@media (max-width: 767px) {
  .mac-video-cnt {
    top: -589px;
    left: -83px;
  }
}

@media (max-width: 575px) {
  .mac-video-cnt {
    top: -13px;
    left: -6px;
  }
}

.animation-upgrade-bg {
  padding-top: 125px;
  padding-bottom: 125px;
  background: url('../img/upgrade-bg.svg') no-repeat center center;
  background-size: contain;
}

@media (max-width: 767px) {
  .animation-upgrade-bg {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.animation-upgrade-text {
  padding: 130px 0;
}

@media (max-width: 991px) {
  .animation-upgrade-text {
    padding: 100px 0;
  }
}

@media (max-width: 767px) {
  .animation-upgrade-text {
    padding: 60px 0;
  }
}

.animation-upgrade-images {
  position: relative;
  max-width: 640px;
}

@media (max-width: 767px) {
  .animation-upgrade-images {
    margin-right: auto;
    margin-left: auto;
  }
}

.animation-upgrade-image {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  text-align: center;
  opacity: 0;

  &.-hidden {
    position: static;
    display: block;
    visibility: hidden;
    opacity: 0;
  }

  img {
    width: 100%;
  }
}

.animation-upgrade-pagination {
  font-size: 0;
  position: relative;
  margin-top: 25px;

  &:before {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    content: '';
    background: -webkit-linear-gradient(left, #000a24, #5b75f2 20%, #5b75f2 80%, #000a24);
    background: linear-gradient(to right, #000a24, #5b75f2 20%, #5b75f2 80%, #000a24);
  }
}

@media (max-width: 991px) {
  .animation-upgrade-pagination {
    margin-top: 55px;
  }
}

@media (max-width: 767px) {
  .animation-upgrade-pagination {
    margin-top: 25px;
  }
}

.animation-upgrade-step {
  position: relative;
  display: inline-block;
  width: 25%;
  text-align: center;
}

.animation-upgrade-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  margin-top: -7px;
  margin-left: -7px;
  padding: 1px;
  background: #5b75f2;

  div {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #000;
  }
}

.animation-upgrade-click {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
  cursor: pointer;
}

.footer-section.-first {
  padding-top: 0;
  padding-bottom: 100px;
}

@media (max-width: 991px) {
  .footer-section.-first {
    padding-bottom: 50px;
  }
}

@media (max-width: 575px) {
  .footer-section.-first {
    padding-bottom: 0;
  }
}

.retina-open {
  display: none;
}

.retina-hidden {
  display: block;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .retina-open {
    display: block;
  }

  .retina-hidden {
    display: none;
  }
}
